aside.menu  {
    display: flex;
    flex-flow: column;
}

aside.menu img {
    border-radius: 50%;
    margin: auto;
    margin-top: .5rem;
    width: 75px !important;
    height: 75px !important;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    transition: .3s;
}


aside.menu .items {
    flex-basis: 1;
    display: flex;
    height: 100%;
    align-items: flex-end;
    flex-flow: column-reverse;
    padding: .3rem;
    padding-bottom: 0;
}

aside.menu .item {
    padding: .5rem;
    margin: .2rem 0;
    width: 100%;
    border-radius: 5px;
    background-color: var(--secondary);
}


aside.menu .item ul {
    list-style: none;
    width: 100%;
}

aside.menu .item ul li {
    color: var(--light);
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

aside.menu .item.buttons {
    flex: 1;
}

aside.menu .item li a {
    color: var(--light-mute);
    text-transform: lowercase;
}

aside.menu .item li:hover a {
    color: var(--light);
}


aside.menu .item li i {
    color: #666;
}

aside.menu .item li:hover i {
    color: var(--light-mute);
}

aside.menu .item.profile {
    display: flex;
    align-items: center;
    align-content: space-between;
    background-color: var(--secondary);
    margin-bottom: .5rem;
}

aside.menu .item.profile .profile-info {
    width: 100%;
    padding-left: 2rem;
}

aside.menu .item.profile .profile-info .id {
    color: var(--primary);
    margin: 0;
}


aside.menu .item.profile .profile-info p {
    margin: .1rem 0;
}

aside.menu .item.profile .profile-info p a.logout {
    color: tomato;
}

aside.menu .item.profile .profile-info p a i.hover-icon {
    display: none;
}

aside.menu .item.profile .profile-info p a.logout:hover i.hover-icon {
    display: initial;
}

aside.menu .item.profile .profile-info p a.logout:hover i.default-icon {
    display: none;
}


@media screen and (max-width: 900px) {
    aside.menu  {
        display: flex;
        flex-flow: column-reverse;
    }
    aside.menu .items {
        display: flex;
        height: 100%;
        align-items: flex-start;
        padding: .3rem;
        padding-bottom: 0;
    }

    aside.menu img {
        border-radius: 50%;
        margin: auto;
        margin-top: .5rem;
        width: 125px !important;
        height: 125px !important;
        background-color: var(--dark);
        border: 1px solid var(--dark);
        transition: .3s;
    }

    aside.menu .item.profile .profile-info p {
        font-size: 1.2rem;
    }

    aside.menu .items {
        flex-basis: 1;
        display: flex;
        height: 100%;
        align-items: flex-end;
        flex-flow: column;
        padding: .3rem;
        padding-bottom: 0;
    }
    
    aside.menu .item {
        margin: .1rem 0;
    }
}